


@{
    ViewBag.Title = "Index";
}

<div class="coub-container">
    
        <video id="coub-video" width="50%" height="auto" loop="true">
            <source src="/Content/videos/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            Your browser does not support the video tag.
        </video> 
   
</div>

<div class="main-nav">
    <ul>
        <li>
            @Ajax.ActionLink("Generate", "GetPreviews", "Home", null, new AjaxOptions() {UpdateTargetId = "previews", LoadingElementId = "video-list-loader"}, new {@class = "a-button-big"})
        </li>
        <li>
            @Ajax.ActionLink("Save", "GetPreviews", "Home", null, new AjaxOptions() { UpdateTargetId = "previews", LoadingElementId = "video-list-loader" }, new { @class = "a-button-big" })
        </li>
    </ul>
</div>

<div>
    <div class="media-container float-left">

        <div class="media-list-header">
            <span>MOVIES</span>
            <img id="video-list-loader" src="/Content/images/loader2.gif" style="display: none; height: 100%"/>
            @Ajax.ActionLink("Update", "GetVideoItemList", "Home", null, new AjaxOptions() {UpdateTargetId = "previews", LoadingElementId = "video-list-loader"}, new {@class = "a-button float-right"})
        </div>

        <div class="media-content-wrapper">
            <div id="previews" class="media-list-container">

            </div>
        </div>
    </div>

    <div id="audios" class="media-container float-right">

        <div class="media-list-header">
            <span>SOUNDS</span>
            <img id="audio-list-loader" src="/Content/images/loader2.gif" style="display: none; height: 100%"/>
            @Ajax.ActionLink("Update", "GetPreviews", "Home", null, new AjaxOptions() {UpdateTargetId = "previews", LoadingElementId = "audio-list-loader"}, new {@class = "a-button float-right"})
        </div>

        <div class="media-content-wrapper">
            <div class="media-list-container">

            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

@*<script>
    document.getElementById("coub-video").addEventListener("click",function (){})
</script>*@





@*<script>
    var createImgTag = function (parentId, base54Data) {
        var img = document.createElement("img");
        img.src = "data:image/jpg;base64," + base54Data;
        img.alt = "previewImage";

        document.getElementById(parentId).appendChild(img);
    };
    
    for (var i = 0; i < parseInt(@ViewBag.Base64Previews.Count); i++) {
        createImgTag("previews", @((List<string>)ViewBag.Base64Previews[i]));
    }
</script>*@